/* Edit */

.Edit {
  height: 100vh;
}

.listWrap {
  margin: 0 30px;
}

.title {
  font-size: 16px;
  margin: 60px 0 14px;
}

.totalSpend {
  font-size: 52px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 3px solid;
}

.totalSpend span {
  font-size: 24px;
  font-weight: 400;
}

.btnWrap {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 60px;
  justify-content: center;
}

.coverArea {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
  z-index: 9;
}

.toastMsg {
  position: fixed;
  padding: 0 20px;
  width: fit-content;
  height: 40px;
  line-height: 40px;
  border-radius: 6px;
  top: 50%;
  left: 50%;
  background-color: #b3b3b3;
  color: #fff;
  transform: translateX(-50%) translateY(-50%);
  animation-name: fadeOut;
  animation-duration: 1000ms;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 769px) {

  .Edit {
    position: relative;
    margin: 0 auto;
    padding-top: 160px;
    width: 700px;
    height: 100vh;
  }

  .title {
    font-size: 16px;
    margin: 0 0 14px;
  }

  .btnWrap {
    bottom: 200px;
    position: absolute;
  }

  .backIcon {
    position: fixed;
  }

  .coverArea {
    position: fixed;
  }
}