/* AddItem */
.AddItem {
  width: 100vw;
  height: 270px;
  padding: 0 14%;
  text-align: center;
  position: fixed;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  z-index: 99;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin: 35px 0 16px;
}

.nameWrap, .priceWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.nameWrap label, .priceWrap label {
  font-size: 18px;
  font-weight: 600;
  padding-right: 8px;
}

.nameWrap input, .priceWrap input {
  border: 0;
  padding: 0 10px;
  outline: none;
  border-radius: 6px;
  background-color: #e6e6e6;
  height: 34px;
  flex: 1 0 auto;
}

.valiText {
  font-size: 12px;
  color: #999;
  font-weight: 600;
  text-align: right;
  margin-bottom: 16px;
}


.addBtn {
  display: block;
  width: 100%;
  border-radius: 22.5px;
  height: 45px;
  background-color: #ff5f69;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
}


.toastMsg {
  position: absolute;
  padding: 0 20px;
  width: fit-content;
  height: 40px;
  line-height: 40px;
  border-radius: 6px;
  top: 50%;
  left: 50%;
  background-color: #ffe1e5;
  color: #ff5f69;
  transform: translateX(-50%) translateY(-50%);
  animation-name: fadeOut;
  animation-duration: 2000ms;
  opacity: 0;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media screen and (min-width: 769px) {
  .AddItem {
    width: 700px;
    padding: 0 60px;
  }
}

