.Circle {
  position: relative;
  width: 70px;
  height: 70px;
}

.circleElem {
  width: 70px;
  height: 70px;
  position: absolute;
  background-color: #ff5f69;
  opacity: 0.5;
  border-radius: 50%;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: breath;
  animation-timing-function: ease-in-out;
}

.circleElem:nth-child(1) {
  transform-origin: 50% 75%;
}
.circleElem:nth-child(2) {
  transform-origin: 25% 50%;
}
.circleElem:nth-child(3) {
  transform-origin: 50% 25%;
}
.circleElem:nth-child(4) {
  transform-origin: 75% 50%;
}


@keyframes breath {
  0% {
    transform: scale(1);
  }
  95% {
    transform: scale(1.5) rotate(180deg);
  }
  100% {
    transform: scale(1.5) rotate(180deg);
  }
}