/* SpendList */

.SpendList {
  display: flex;
  height: 45px;
  align-items: center;
  font-size: 18px;
  border-bottom: 1px solid #b1b1b1;
}

.spendItem {
  flex: 1 0 50%;
  font-weight: 600;
}

.spendPrice {
  padding-right: 8px;
}

.spendDelBtn {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #cccccc;
  border-radius: 50%;
}

.spendDelBtn span::after {
  content: "\00d7";
  display: inline-block;
  font-size: 14px;
}


